[submodule "UTIL_OL"]
	path = UTIL_OL
	url = https://github.com/JeffersonLab/UTIL_OL
	branch = master
[submodule "UTIL_KAONLT"]
	path = UTIL_KAONLT
	url = https://github.com/JeffersonLab/UTIL_KAONLT
	branch = fall-2018-ver2
[submodule "UTIL_SIDIS"]
	path = UTIL_SIDIS
	url = https://github.com/JeffersonLab/UTIL_SIDIS
	branch = master
